@tailwind base; 
@tailwind components; 
@tailwind utilities;


@font-face {
  font-family: mk-hell;
  src: url('../public/fonts/MK-HELL-Regular.ttf') format('truetype');
}

@font-face {
  font-family: pangram-regular;
  src: url('../public/fonts/Pangram-Regular.ttf') format('truetype');
}
@font-face {
  font-family: pangram-black;
  src: url('../public/fonts/Pangram-Black.ttf') format('truetype');
}
@font-face {
  font-family: pangram-bold;
  src: url('../public/fonts/Pangram-Bold.ttf') format('truetype');
}
@font-face {
  font-family: neuebit;
  src: url('../public/fonts/NeueBit-Regular.ttf') format('truetype');
}
@font-face {
  font-family: neuebit-bold;
  src: url('../public/fonts/NeueBit-Bold.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* { 
  box-sizing: border-box;
}

@layer base {
  html {
    @apply text-custom-dark font-secondary;
  }
  body {
    @apply bg-custom-primary
  }
  h1,h2 { 
    @apply font-primary 
  }
  .link{
    @apply text-blue-600 underline cursor-pointer
  }
  .wallet-adapter-dropdown {
    @apply bg-ait-gray
  }
}

html {
  scroll-behavior: smooth;
  /* font-family: PressStart; */
}

.responsive-font {
  font-size: 9vh;
}
/* Add styles to your Tailwind CSS file to hide the scroll bar when the page is locked. */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.clip {
  clip-path: circle(50%);
}

